#tibia_map { height:70%; width:100%; margin:0px; padding:0px; position:relative; }

table { height:auto; width:798px; margin:0px; padding:0px; border:0px solid; }
td { height:17px; width:798px; margin:0px; padding:0px; border:0px solid; font:inherit; }
a { font:inherit; text-decoration:none; }
#info_hide { border-bottom:1px solid #A7D7F9; text-align:center; }
.td1 { width:80px; }
.td2 { width:420px; padding:1px 3px 0px; }

#tableHouses td {
    width: 10%;
}

#tableHouses td+td {
    width: 25%;
}

.house-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid;
    background-image: url('../img/sep-half.png');
    color: white;
    height: 90px;
    border-radius: 7px;
    cursor: pointer;
}


.house-danger {
    border-color: #d43f3a;
    background-color: #d9534f;
}

.house-danger:hover {
    background-color: #b7312d;
}
.house-warning {
    border-color: #eea236;
    background-color: #f0ad4e;
}

.house-warning:hover {
    background-color: #d09b2c;
}
.house-success {
    border-color: #4cae4c;
    background-color: #5cb85c;
}

.house-success:hover {
    background-color: #2a8c2a;
}

.house-unit dtitle {
    font-size: 13px;
    padding: 2px 10px;
    color: #FFFFFF;
    margin: 0;
}

.house-unit box {
    margin-top: 8px;
}

.house-unit h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
}

.house-unit hr {
    margin: 6px;
}

