.row-heigth div {
    height: 120px;
}

#tibia_map { height:70%; width:100%; margin:0px; padding:0px; position:relative; }


.hunt-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid;
    background-image: url('../img/sep-half.png');
    color: white;
    height: 70px;
    border-radius: 7px;
    cursor: pointer;
}


.hunt-box {
    border-color: #4cae4c;
    background-color: #5cb85c;
}

.hunt-box:hover {
    background-color: #2a8c2a;
}

.hunt-unit dtitle {
    font-size: 13px;
    padding: 2px 10px;
    color: #FFFFFF;
    margin: 0;
}

.hunt-unit box {
    margin-top: 8px;
}

.hunt-unit h4 {
    margin: 15px 0 0 15px;
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
}
.hunt-unit h5 {
    margin: 0 0 0 15px;
}

.hunt-unit hr {
    margin: 6px;
}

