#containerTag {
  position: absolute;
  overflow: none;
  z-index: 10000;
}


.npc-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid;
    background-color: #4375B6;
    color: white;
    height: 70px;
    border-radius: 7px;
    cursor: pointer;
}

.npc-unit:hover {
    background-color: #6597D8;
}


.npc-unit dtitle {
    font-size: 13px;
    padding: 2px 10px;
    color: #FFFFFF;
    margin: 0;
}

.npc-unit box {
    margin-top: 8px;
}

.npc-unit h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
}

.npc-unit hr {
    margin: 6px;
}
