

.race-unit {
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid;
    background-color: #4375B6;
    color: white;
    height: 70px;
    border-radius: 7px;
    cursor: pointer;
}

.race-unit:hover {
    background-color: #6597D8;
}


.race-unit dtitle {
    font-size: 13px;
    padding: 2px 10px;
    color: #FFFFFF;
    margin: 0;
}

.race-unit box {
    margin-top: 8px;
}

.race-unit h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
}

.race-unit hr {
    margin: 6px;
}
